<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <connectionStrings>
      <!--< correct from the start add name="FoodFinderDB.FoodFinderContext" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Database=FoodFinderContext"/>-->
      <!--<add name="FoodFinderContext" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Database=FoodFinderModels"/>-->
      <!-- <add name ="FoodFinderContext" connectionString="Server=tcp:foodfinderserver.database.windows.net,1433;Initial Catalog=FoodFinderDB;Persist Security Info=False;User ID=foodfinder;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.EntityClient" />-->
      <!--<add name="CustomersContext" connectionString="metadata=res://*/Models.shop2Model.csdl|res://*/Models.shop2Model.ssdl|res://*/Models.shop2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=shop2azureserver.database.windows.net,1433;initial catalog=shop2AzureDB;user id=shop2;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <add name="FoodFinderDB.FoodFinderContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:foodfinderserver.database.windows.net,1433;Initial Catalog=FoodFinderDB;Persist Security Info=False;User ID=foodfinder;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
     </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


</configuration>
